<div class="w-full flex items-start justify-center flex-col">
    <div class="w-full flex" style="background-color: #F6F8FC;">
        <span class="icono-left text-red-600 m-5"><i class="fi fi-br-angle-small-left"></i></span>
        <h1 class="tit-cred my-5">CREDENCIAL VIRTUAL</h1>
    </div>
    <div class="w-full flex items-center justify-center flex-col" style="background-color: #F6F8FC;">
        <div class="cont-hora w-1/2 h-16 text-center mb-2 mt-5">
            <h1 class="h-16">{{ currentTime }}</h1>
        </div>
        <div class="">{{ dateInfo.dayText }}, {{ dateInfo.dayNumeric }} {{ dateInfo.monthAbbreviation }} {{ dateInfo.year }}</div>
    </div>
    <div class="cont-sec-data w-full flex flex-col" id="videofondo">
        <video autoplay muted loop>
            <source src="../../../assets/viddd.mp4" type="video/mp4">
            <!-- Tu navegador no soporta videos HTML5. -->
        </video>
        <div class="" id="contenido">
            <div class="foto-tiu mt-9 mb-36">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt="">
            </div>
        </div>
    </div>
    <div class="cont-sec-data1 w-full flex" style="background-color: #F0F1FF;">
        <div class="info flex flex-col items-center justify-center text-center pb-4">
            <h1 class="tit-name text-red-600 my-1">RENZO RAZO HUAMANÍ</h1>
            <p class="my-2"><b>U20201B167</b></p>
            <p>📚 Estudiante 🪪 Campus Monterrico <br> 🎓 Ingeniería industrial</p>
        </div>
    </div>
</div>